
.bgg{
background-image: URL("../images/bg-home.jpg");
min-height: 600px;
color: #FFF;
background-size: cover; !important
}
.jumbotron{
  background-color:inherit;
}
.gameFacts {
  padding-top:15px;
  min-height: 400px;
  height: auto;
color:red;
  background-size: cover;
}
.factP{
  font-family: Fredericka;
}
.borders{
  border-bottom: 5px solid coral;
  border-bottom-style: groove;
}
.slightborder {
  border-top: 1px solid coral;

}

.border-right{
border-right: 5px solid coral;
border-right-style: groove;
}
.main-title {
  font-size: 90px;
  font-family:MedievalSharp, bold;

}
.title{
  font-family:MedievalSharp, bold;
}

#gf1 {

background-image: url("../images/placeholder.jpg");
}

#gf2 {

  background-image: url("../images/chess.jpg");
}

#gf3 {
  background-image: url("../images/placeholder.jpg");

}
body{
  background-color: black;
}
p {
  font-family: verdana;
}

.a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 25px;
  text-align: center;

}
