body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

div {

  border-color = red;
  border-style = double;
}

.row {
    display: flex;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.imagenHechizo {
  height:100px;
  width :100px;
  border-style: groove;
  border-width: 7px;
  border-color: coral;
}

.spriteCharacter {
  height:100px;
  width :100px;
  border-style: groove;
  border-width: 15px;
  border-color: coral;
}
